@import "tailwindcss";


.hero-banner{
    background-image: url("/images/banner/bgimage.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-custom{
    background-image: url("/images/welcome/background.png");
    background-repeat: no-repeat;
}
.bg-family{
    background-image: url("/images/get-your/familyframe.png");
    background-repeat: no-repeat;
    background-size: contain;
}